.nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    gap: 3rem;
    width: 100vw;
    height: 100vh;
}

.nav_hide {
    display: none;
    right: 100vw;
}

.link_list {
    text-align: left;
    display: inherit;
    flex-direction: inherit;
    justify-content: inherit;
    align-items: left;
    gap: inherit;
}
