.external_link {
    border: solid 2px var(--secondary-light-txt);
    border-radius: 0.25rem;
    text-align: center;
    color: var(--secondary-light-txt);
    padding: 0.75rem 1.5rem;
}

.external_link:hover {
    background-color: var(--secondary-light-txt);
}
